<h1>Editing Competition</h1>

<%= render 'form' %>


<%= link_to 'Back', archive_path, class: 'mybutton', style: "float:right; margin-top:14px; margin-left: 10px;" %>
<br><br><br><br><br>
<br><br><br><br><br>
